.card-back-1 {
  background-image: url("../img/fruits/apple.jpg");
}

.card-back-2 {
  background-image: url("../img/fruits/pear.jpg");
}

.card-back-3 {
  background-image: url("../img/fruits/banan.jpg");
}

.card-back-4 {
  background-image: url("../img/fruits/kiwi.jpg");
}

.card-back-5 {
  background-image: url("../img/fruits/ananas.jpg");
}

.card-back-6 {
  background-image: url("../img/fruits/orange.jpg");
}
