
@import "./btn";
@import "./form";

  %align-center {
    text-align: center;
  }

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: #26282e; 
    color: #209781;
    font-family: "Lobster", sans-serif;
    font-size: 28px;
  }
  
  a:link {
    color: #209781;
    text-decoration: none;
  }
  a:visited {
    color: #209781;
  }
  a:active {
    color: #209781;
  }
  a:hover {
    color: #e9b64a;
  }
  
  h1 {
    font-size: 64px;
    font-weight: 400;

    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  
  p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
    letter-spacing: 2px;
  }
  
  .container {
    @extend %align-center;
    width: 100%;
    height: auto;
    padding: 20px 20px;
  }


%ColInRow4 {
    grid-template-columns: repeat(4, minmax(135px, 1fr));
}
  
  .board {
    max-width: 80%;
    margin: 2rem auto;
     @extend %align-center;
    place-items: center center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
    grid-gap: 12px;
  }
  
  .score {
    margin: 15px auto;
     @extend %align-center;
    letter-spacing: 2px;
  }
  
  .replay {
    margin-top: 20px;
     @extend %align-center;
    grid-column: 1 / -1;
  }
  
  .flip-card {
    width: 135px;
    height: 135px;
    perspective: 1000px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
     @extend %align-center;
    -webkit-transition: all 1s;
    transition: all 1s;
    transform-style: preserve-3d;
  }

  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    // width: 125px;
    // height: 125px;
    background-size: cover;
    background-repeat: no-repeat;
    
    -webkit-backface-visibility: hidden; /* Safari */
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
  }


  .board-flags .flip-card-back {
    background-size: contain;
    background-position: center;
    background-color: #3A3A3C;
  }
  
  /* Style the front side */
  .flip-card-front {
    border: 5px solid #51c8b2;
    border-radius: 5px;
    cursor: pointer;
    filter: brightness(80%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-image: url('../img/qmark.png');
   &:hover {

        filter: brightness(100%);
    } 
  }
  
  /* Style the back side */
  .flip-card-back {
    border: 5px solid #e9b64a;
    border-radius: 5px;
  
    filter: brightness(100%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: rotateY(180deg);

  }

  //   @media screen and (min-width: 1157px) {
    @media screen and (min-width: 1013px) {
      .board {
        grid-template-columns: repeat(6, minmax(135px, 1fr));
      }
    }
  
    @media screen and (min-width: 1013px) {
      .board-easy {
          grid-template-columns: repeat(4, minmax(135px, 1fr));
          // @extend %ColInRow4;
          max-width: 60%;
        }
    }
    
    /* @media all and (min-width: 852px) and (max-width: 1012px) { */
    @media screen and (min-width: 691px) and (max-width: 1012px) {
      .board {
        grid-template-columns: repeat(4, minmax(135px, 1fr));
      // @extend %ColInRow4;
      }
    
      .hard:last-child {
          grid-column: span 1 / -2;
        }
      
        .hard:nth-last-child(2) {
          grid-column: 2 / 3;
        }
    }
    
  
